@keyframes animSokol {
    0% {
        top: calc(50%);
    }
    50% {
        top:calc(55%)
    }
    100% {
        top: calc(50%);
    }
}

@keyframes SokolPoletAnim {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
        left:calc(90% - var(--size))
    }
    60% {
        opacity: 0;
        left: 0;
    }
    100% {
        opacity: 1;
        left: calc(50% - var(--size)/2);
    }
}