.day {
    --size: 15.7em;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    position: relative;
}

.day__container {
    position: absolute;
    top:15%; left: 15%;
    width: 70%; height: 70%;
    border-radius: 10px;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.id1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: crimson;
}

.id2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:coral;
}

.id3 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 0;
    grid-row-end: 1;
    background-color:khaki;
}

.id4 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 0;
    grid-row-end: 1;
    background-color:chartreuse;
}

.id5 {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:cornflowerblue;
}

.id6 {
    grid-column-start: 12;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:darkblue;
}

.id7 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:blueviolet;
}