.lesson {
    display: grid;
    grid-template-columns: 35% 65%;
    --text-color:#fff
}

.lesson__colomn1 {
    border-right: 1px var(--text-color) solid ;
}

.lesson__colomn2 {
    padding-left: 3px;
}

.lesson__time, .lesson__info {
    font-size: 1em;
    font-weight: bold;
}

.lesson__place, .lesson__teacher {
    font-size: 0.9em;
}

.lesson__info, .lesson__teacher {
    text-transform: capitalize;
}