@font-face {
  font-family: "romeo-rus-lat";
  src:  url('./fonts/Bokvi_na_nitkax.otf'); 
}

@font-face {
  font-family: "nav_font";
  src:  url('./fonts/Slimami.ttf'); 
}

body::-webkit-scrollbar {/*задний фон*/
  overflow-y: scroll;
  background-color: #000000;
  width: 0.7em;
}

body::-webkit-scrollbar-track {/*фон полоски*/
  border-radius: 4em;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {/*полоска*/
  border-radius: 4em;
  background-color: rgba(255, 255, 255, 0.7);
}