table {
  border-collapse: separate;
  width: 1000px;
  border: 1px solid red;
  text-align: center
}
td {
  border: 1px solid red;
  text-align: center;
  
}
th {
  border: 1px solid red;
  text-align: center;
  
}